.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: black;
}

.nav-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
}

.logo {
  height: 40px;
  width: 80px;
  position: absolute;
  left: 10px;
}

.heading {
  font-size: 30px;
  margin: 0;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, #f9c100, #f5ecc5);
  background-clip: text;
  color: transparent;
  font-family: 'Fjalla One', sans-serif;
}

.bookmarks-list {
  margin-top: 20px;
  height: calc(100vh - 60px);
  padding-right: 10px;
}

.bookmarks-container {
  padding: 30px;
}

.nodata {
  height: 500px;
  width: 500px;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .nodata {
      height: 300px;
      width: 300px;
  }

  .error-container {
      height: 80vh;
      padding: 20px;
  }
}

@media (max-width: 480px) {
  .nodata {
      height: 200px;
      width: 200px;
  }

  .error-container {
      height: 70vh;
      padding: 10px;
  }
}
