.job-list {
  margin-top: 20px;
  height: calc(100vh - 60px);
  overflow-y: auto;
  padding-right: 10px;
}

.job-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

@media (min-width: 600px) {
  .job-card {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .job-info {
    flex: 1;
  }

  .image {
    height: 120px;
    width: 130px;
  }

  .add-button {
    width: 100px;
    height: 45px;
  }
}

.job-title,
.job-salary,
.job-location,
.job-phone {
  font-size: 16px;
  margin: 5px 0;
  text-align: left;
}

.add-button {
  background: #fbca1f;
  font-family: inherit;
  width: 80px;
  font-weight: 700;
  font-size: 16px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  height: 35px;
}

.add-button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.add-button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.image {
  height: 100px;
  width: 110px;
}

@media (max-width: 599px) {
  .job-card {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .job-title,
  .job-salary,
  .job-location,
  .job-phone {
    font-size: 14px;
    text-align: center;
  }

  .image {
    height: 80px;
    width: 90px;
  }

  .add-button {
    width: 70px;
    height: 30px;
    font-size: 14px;
  }
}
