/* Navbar.css */

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black; /* Background color of the navbar */
    color: white; /* Text color */
    display: flex;
    justify-content: space-around; /* Space out items evenly */
    align-items: center;
    padding: 10px 0; /* Padding around items */
    border-top: 1px solid #ccc; /* Optional: border at the top of the navbar */
}

.navbar-item {
    cursor: pointer;
    color: white;
    background-color: transparent; /* Default background color for non-active items */
    height: 30px;
    width: 300px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: background-color 0.3s; /* Smooth transition for background color change */
}

.navbar-item.active {
    background-color: #f9c100; /* Background color for active item */
}


