.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.navbar-item {
    cursor: pointer;
    color: white;
    background-color: transparent;
    height: 30px;
    width: 300px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: background-color 0.3s;
}

.navbar-item.active {
    background-color: #f9c100;
}

.navbar-text {
    display: inline-block;
}

.navbar-icon {
    display: none;
}

@media (max-width: 600px) {
    .navbar {
        padding: 5px 0;
    }

    .navbar-text {
        display: none;
    }

    .navbar-icon {
        display: inline-block;
        font-size: 24px;
    }

    .navbar-item {
        width: auto;
        padding: 0 10px;
    }
}
